.footer-section {
  margin-top: 60px;
  background-color: var(--primary-color);
  color: white;
  padding: 50px 0 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px 50px;
  text-align: center;
}

.footer-heading {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-text {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: var(--primary-light);
}

/* --- Formulario --- */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

.email-input {
  flex-grow: 1;
  padding: 12px 15px;
  border: none;
  /*border-radius: 4px 0 0 4px;*/
  font-size: 1rem;
  outline: none;
  margin-right: 5px;
}

.footer-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  background-color: var(--primary-dark);
  color: white;
  text-decoration: none;
  border-radius: 0px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
  border: 2px solid var(--primary-dark);
}

.footer-button:hover {
  background-color: white;
  color: var(--primary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.error-message,
.success-message {
  font-size: 0.9rem;
  margin-top: 5px;
  font-weight: 500;
}

.error-message {
  color: #ffc0cb;
}

.success-message {
  color: #90ee90;
}

/* --- Barra Inferior --- */
.footer-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

copyright {
  margin-right: 20px;
  color: #b0b0b0;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.address {
  margin-bottom: 10px;
}


.top p {
  font-weight: bold; /* opcional */
  margin-bottom: 10px;
}

.bottom p {
  margin: 3px 0;
}

/* Responsivo */
@media (max-width: 600px) {
  .footer-heading {
    font-size: 1.8rem;
  }

  .input-group {
    flex-direction: column;
    max-width: 300px;
  }

  .email-input,
  .footer-button {
    width: 100%;
    margin-bottom: 10px;
    /*border-radius: 4px !important;*/
  }

  .footer-bar {
    flex-direction: column;
    text-align: center;
  }

  copyright {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin: 5px 10px;
  }
}
