<article>
  <section>
    <img
      class="listing-photo"
      [src]="housingLocation?.photo"
      alt="Exterior photo of {{ housingLocation?.name }}"
      crossorigin
    />

    <section class="listing-description">
      <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
      <p class="listing-location">
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
    </section>

    <section class="listing-features">
      <h2 class="section-heading">Sobre el edificio</h2>
      @if (housingLocation?.resume; as texto) {
      <div class="building-resume">
        <p>{{ texto }}</p>
      </div>
      }

      <!-- SECCIÓN DE DESCARGAS MEJORADA -->
      @if (housingLocation?.downloadDocuments; as documentos) { @if
      (documentos.length > 0) {
      <section class="download-section clearfix">
        <h3 class="real-estate-heading">Documentación</h3>
        <div class="download-buttons">
          <!-- Ahora iteramos sobre el alias 'documentos' -->
          @for (doc of documentos; track doc.id) {
          <a
            [href]="doc.rutaArchivo"
            target="_blank"
            download
            class="btn-download"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
            {{ doc.nombreBoton }}
          </a>
          }
        </div>
      </section>
      } }

      <div class="real-estate-info">
        @if (housingLocation?.realEstateName) {
        <h3 class="real-estate-heading">Comercializado por</h3>
        <p class="real-estate-name">{{ housingLocation?.realEstateName }}</p>
        <p class="real-estate-description">
          ¿Quieres conocer más detalles sobre este edificio o agendar una
          visita? Contacta directamente con la inmobiliaria.
        </p>
        <div class="real-estate-actions">
          <!-- Boton Principal -->
          <a
            [href]="housingLocation?.realEstateLink"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-real-estate"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
            Descubre más en la inmobiliaria
          </a>
          <!-- Icono de Instagram -->
          <a
            *ngIf="getSocialMediaUrl('Instagram')"
            [href]="getSocialMediaUrl('Instagram')"
            target="_blank"
            rel="noopener noreferrer"
            class="social-media-icon"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M7 2C4.243 2 2 4.243 2 7v10c0 2.757 2.243 5 5 5h10c2.757 
             0 5-2.243 5-5V7c0-2.757-2.243-5-5-5H7zm10 2c1.654 0 3 
             1.346 3 3v10c0 1.654-1.346 3-3 3H7c-1.654 
             0-3-1.346-3-3V7c0-1.654 1.346-3 3-3h10zm-5 
             3a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 
             6 3 3 0 010-6zm4.5-3a1.5 1.5 0 100 3 1.5 
             1.5 0 000-3z"
              />
            </svg>
          </a>
          <!-- Icono de TikTok -->
          <a
            *ngIf="getSocialMediaUrl('TikTok')"
            [href]="getSocialMediaUrl('TikTok')"
            target="_blank"
            rel="noopener noreferrer"
            class="social-media-icon"
          >
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 512 512"
              fill="currentColor"
              id="icons"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M412.19,118.66a109.27,109.27,0,0,1-9.45-5.5,132.87,132.87,0,0,1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14,23.9,350,16,350.13,16H267.69V334.78c0,4.28,0,8.51-.18,12.69,0,.52-.05,1-.08,1.56,0,.23,0,.47-.05.71,0,.06,0,.12,0,.18a70,70,0,0,1-35.22,55.56,68.8,68.8,0,0,1-34.11,9c-38.41,0-69.54-31.32-69.54-70s31.13-70,69.54-70a68.9,68.9,0,0,1,21.41,3.39l.1-83.94a153.14,153.14,0,0,0-118,34.52,161.79,161.79,0,0,0-35.3,43.53c-3.48,6-16.61,30.11-18.2,69.24-1,22.21,5.67,45.22,8.85,54.73v.2c2,5.6,9.75,24.71,22.38,40.82A167.53,167.53,0,0,0,115,470.66v-.2l.2.2C155.11,497.78,199.36,496,199.36,496c7.66-.31,33.32,0,62.46-13.81,32.32-15.31,50.72-38.12,50.72-38.12a158.46,158.46,0,0,0,27.64-45.93c7.46-19.61,9.95-43.13,9.95-52.53V176.49c1,.6,14.32,9.41,14.32,9.41s19.19,12.3,49.13,20.31c21.48,5.7,50.42,6.9,50.42,6.9V131.27C453.86,132.37,433.27,129.17,412.19,118.66Z"
              />
            </svg>
          </a>
          <!-- Icono de Linkedin (Versión Outline Consistente) -->
          <a
            *ngIf="getSocialMediaUrl('Linkedin')"
            [href]="getSocialMediaUrl('Linkedin')"
            target="_blank"
            rel="noopener noreferrer"
            class="social-media-icon"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M20,2H4C2.9,2,2,2.9,2,4v16c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M8,19H5V8h3V19z M6.5,6.7 C5.5,6.7,4.7,5.9,4.7,5s0.8-1.7,1.8-1.7s1.8,0.8,1.8,1.7C8.3,5.9,7.5,6.7,6.5,6.7z M19,19h-3v-5.4c0-1.3-0.5-2.2-1.6-2.2 c-0.9,0-1.4,0.6-1.6,1.2C12.7,13,12.8,13.5,12.8,14v5H10V8h3v1.3c0.4-0.6,1.1-1.3,2.7-1.3c2,0,3.3,1.3,3.3,4.1V19z"
              />
            </svg>
          </a>
        </div>
        } @else {

        <p class="real-estate-description">
          Este edificio todavía no tiene inmobiliaria asignada.
        </p>

        }
      </div>
    </section>
  </section>

  @if (housingLocation?.galleryImages; as galleryImages) { @if
  (galleryImages.length > 0) {
  <section class="gallery-section">
    <h2 class="section-heading">Galería de Imágenes</h2>
    <!-- Esta línea ahora es segura y no dará error -->
    <app-image-gallery [images]="galleryImages" />
  </section>
  } }

  <a
    [href]="housingLocation?.renderLink"
    target="_blank"
    rel="noopener noreferrer"
    class="btn-real-estate"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
      />
      <polyline points="3.27 6.96 12 12.01 20.73 6.96" />
      <line x1="12" y1="22.08" x2="12" y2="12" />
    </svg>
    Ver render en 3D de un piso
  </a>

  <section class="unit-table-section clearfix">
    @if (housingLocation?.units; as availableUnits) {
    <!-- Usamos el alias 'availableUnits' para asegurar el tipo -->
    <app-unit-table [units]="availableUnits" />
    } @else {
    <p class="unit-p">
      No hay información de los pisos disponible todavia para este edificio.
    </p>
    }
  </section>

  <section class="listing-map-apply">
    <div class="map-form-container">
      <!-- Columna izquierda: Mapa -->
      @if(safeMapUrl){
      <div class="map-column">
        <h2 class="section-heading">Ubicación</h2>
        <iframe
          [src]="safeMapUrl"
          height="450"
          width="600"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      }

      <!-- Columna derecha: Formulario -->
      <div class="form-column">
        <h2 class="section-heading">Quieres que te enviemos información</h2>
        <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
          <label for="first-name">Nombre</label>
          <input id="first-name" type="text" formControlName="firstName" />

          <label for="phone">Telefono</label>
          <input id="phone" type="text" formControlName="phone" />

          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" />

          <div class="terms-container">
            <input type="checkbox" id="terms" formControlName="termsAccepted" />
            <label for="terms">
              Acepto los
              <a href="/terms" target="_blank" rel="noopener noreferrer"
                >términos y condiciones</a
              >
            </label>
          </div>

          <button type="submit" class="primary">Confirmar información</button>
        </form>
      </div>
    </div>
  </section>
</article>
