/* TARJETA PRINCIPAL */
.listing {
  background: var(--card-bg);
  border-radius: 0;
  padding-bottom: 30px;
  border: 1px solid var(--primary-color);
}

/* TITULO */
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  font-weight: 700;
}

/* IMAGEN */
.listing-photo {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  border-bottom: 3px solid var(--primary-color);
}

/* LOCALIZACIÓN */
.listing-location {
  padding: 10px 20px 20px 20px;
  color: var(--text-color);
}

.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

/* INMOBILIARIA */
.listing-colab {
  padding: 0 20px 15px 20px;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}


/* TARJETA CLICABLE COMPLETA */
.listing-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Efecto hover en toda la tarjeta */
.listing-link:hover .listing {
  background-color: rgba(0, 0, 0, 0.03);
  transition: 0.2s ease;
  cursor: pointer;
}
