.terms-wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  line-height: 1.7;
}

.terms-wrapper h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 28pt;
  text-align: center;
}

.terms-wrapper h2 {
  color: var(--secondary-color);
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18pt;
}

.terms-wrapper p {
  font-size: 14pt;
  text-align: justify;
}

.close-note {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}
